<html>
  <body id="pages-about">
  	<div class="wrapper-about">
      <div class="push-about"></div>
      <div id="about-header">About California Love</div>
      <div class="line"><hr /></div>
        <div class="about-container">
          <h4>100% Designed in California</h4>
          <p>Calove believes in supporting California businesses and using high quality products for our customers. All products are designed and printed in California by Californians. Shipping available within the USA.</p>
          <h4>It all started in California.</h4>
          <p>As a passionate California native that loves the outdoors and has roots in both Northern and Southern California, designing something that expressed my feelings for the Golden State came naturally.  Calove was created to express a common passion for California.</p>
        </div>
    </div>
  </body>
</html>
