<html>
  <body id="pages-contact">
  	<div class="wrapper-show">
      <div class="push-show"></div>
      <div id="contact-header">Contact</div>
      <div class="line"><hr /></div>
        <div class="contact-container">
         <%= render 'new' %>
        </div>
    </div>
  </body>
</html>
