<html>
  <body id="pages-customer-service">
  	<div class="wrapper-show">
       <div class="push-show"></div>
      <div id="customer-service-header">FAQ Section</div>
      <div class="line"><hr /></div>
        <div class="customer-service-container">
          <p><h4>“Can I order special sizes?”</h4>
					We will try to accommodate any Special sizing/request. Please send us some details <%= link_to 'here.', contact_path %>
					</p>
					<br>
					<p><h4>“Can I cancel my order?”</h4>
					Yes. Orders may be cancelled immediately after purchase before product has shipped. Please email <%= mail_to "shipping@calove.ca", "shipping@calove.ca", subject: "Order Cancellation" %>
					</p>
					<br>
					<p><h4>“Can I return my order?”</h4>
					Yes. It is very important to us that you are satisfied with your product. If for any reason you do not absolutely LOVE your item, we will gladly issue a refund or exchange for the value of the item(s). Please send the return item(s) within 30 days from the date of purchase. Unworn new items can be returned for a refund. Shipping paid by customer.
					</p>
					<br>
					<p><h4>“How can I check the status of my order?”</h4>
					Once your order has shipped, you will receive an email with your order confirmation and another with a tracking number once your order has shipped. 
					</p>
					<br>
					<p><h4>“What are my shipping options?”</h4>
					All shipments are sent via USPS. Tracking and delivery confirmation are available when shipping within the US.
					</p>
					<br>
					<p><h4>“When will my order ship?”</h4>
					Our highly trained monkeys are available Monday-Friday 9am – 5pm California time. Orders placed after 10am will be processed the following business day. Please allow at least 24 business hours to fully process your order. Please note that while our monkeys are speedy and elusive, the arrival date is not guaranteed.
					</p>
					<br>
					<p><h4>“What methods of payment are accepted?”</h4>				
					We accept all major credit cards including Visa, Mastercard, American Express, Discover as well as Paypal. Personal checks are not accepted except for special circumstances.Cash will also be accepted for in person transactions.
					</p>
					<br>
        </div>
        <div class="push-show"></div>
      </div>
  </body>
</html>
