// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* custom fonts begin */
@font-face {
  font-family: 'MyriadPro-Regular';
  src:font-url('MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
/* custom fonts end */

/****************************/
/****************************/
/****************************/
/* products show page begin */

#products-show {
  html, body
  {
    background: none;
  }
  .wrapper-show
  {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px;
  }
  .footer, .push-show
  {
    text-align: center;
    height: 45px;
  }
  .show-item-1, .show-item-2, .show-item-3
  {
    display: none;
  }
  .item-image {
    margin-left: auto;
    margin-right: auto;
  }
  .item-show-container-male-shirt {
    width: 356px;
    height: 475px;
    background-size: cover;
  }
  .item-show-container-female-shirt {
    width: 384px;
    height: 500px;
    background-size: cover;
  }
   .item-show-container-twill-hat
  {
    height:475px;
    width: 635px;
    background-size: cover;
  }
  .item-show-container-trucker-hat
  {
    height:475px;
    width: 635px;
    background-size: cover;
  }
  .item-details
  {
    position: absolute;
    left: 650px;
    top: 220px;
    width: 100%;
  }
  #add-to-cart-btn {
    position: absolute;
    left: 650px;
    top: 500px;
  }
  .male-shirt-item-dropdowns {
    position: absolute;
    left: 650px;
    top: 381px;
  }
  .female-shirt-item-dropdowns {
    position: absolute;
    left: 650px;
    top: 381px;
  }
  .trucker-hat-item-dropdowns {
    position: absolute;
    left: 650px;
    top: 400px;
  }
  .twill-hat-item-dropdowns {
    position: absolute;
    left: 650px;
    top: 415px;
  }
  .line {
    margin: -30px 0px 0px 5px;
    width: 276px;
  }
  .item-title {
    font-size: 42px;
    font-weight: 300;
  }
  .item-price {
    font-size: 36px;
    font-weight: 100;
  }
  .btn-mega {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
   #product_quantity, #product_size, #product_color  {
    -moz-user-select: none;
    width: 122px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: window; 
   }
}

/* products show page end */
/* products index page begin */

#products_index {
  height: 100%;
  background-image: none;
  background-color: white;
  .wrapper-index
  {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px;
  }
  .footer, .push-index
  {
    text-align: center;
    height: 45px;
  }
  .text-element
  {
    display: none;
    font-size: 30px;
  } 
  .product-item-0, .product-item-1, .product-item-2, .product-item-3
  {
    height: 760px;
    width: 570px;
    display:inline-block;
    text-align: center;
    background-size: cover;
  }
  .product-item-2, .product-item-3 {
    height:500px;
    width: 570px;
  }
  .product-item-1
  {
    float: right;
    display: inline-block;
    background-position: center;
  }
  .product-item-2
  {
    margin-top: 20px;
  }
  .product-item-3
  {
    margin-top: 20px;
    float: right;
  }
  .products-container
  {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 1600px;
  }
  .product-item-0:hover .text-element, .product-item-1:hover .text-element, .product-item-2:hover .text-element, .product-item-3:hover .text-element
  {
    color: black;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    display: inline-block;
    height: 760px;
    width: 570px;
    line-height: 760px;
  }
  .product-item-2:hover .text-element, .product-item-3:hover .text-element {
    line-height: 500px;
  }
}

/****************************/
/* products index page end */
/****************************/

/****************************/
/* customer_cart page begin */
/****************************/

#customer-cart {
  html, body 
  { 
    background: none;
    background-color: white;
    height: 100%;
  }
  .wrapper-customer-cart 
  {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px;
  }
  .customer-cart-container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  #cart-title {
    font-size: 42px;
    font-weight: 300;
  }
  .line {
    margin-top: -25px;
  }
  .top-bottom-padding > td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .headers {
    width: 200px;
  }
  .headers-item {
    width: 300px;
  }
}

/****************************/
/* customer_cart page end */
/****************************/

/* TOP BANNER CONTENT - BEGIN */
#transparent-box
{
  margin-left: auto; 
  margin-right: auto;
  margin-top: 40px;
  width: 800px;
  height: 150px;
  background: rgba(255,255,255,.5);
  border-radius: 5px;
}

.logo-red
{
  background-repeat: no-repeat;
  background-size: 290px 95px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 95px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-input-placeholder {
   color: #9fa8b0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9fa8b0;
}

.search-input-header {  
  margin-left: 40px;
  margin-top: 30px;
  width: 150px !important;
  padding-left: 10px;
  padding-top: 3px;
  color: black;
  font-size: 12px;
  line-height: 20px;
  border: none;
  border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  /*background: #20282D;*/ /* old browsers */
  background: #E4E4E4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); 
  -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); 
  -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); 
  box-shadow: 1px 1px 1px rgba(255,255,255,0.1); 
}

.cart-total-icon
{
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-left: 633px;
  margin-top: -32px;
  z-index: 50000;
}

.cart-total-partial
{
  width: 65px;
  height: 15px;
  margin-left: 682px;
  margin-top: -37px;
  font-size: 18px;
  font-family: "MyriadPro-Regular";
}

/* TOP BANNER CONTENT - END */

/* SHOWCASE CONTENT - BEGIN */

.about-shop
{
  background-color: white;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
  height: 75px;
  color: #696969;
  text-align: center;
  line-height: 75px;
  font-family: "MyriadPro-Regular";
  font-size: 18px;
}

.filler-container
{
  background-color: white;
  width: 100%;
  height: 300px;
}

.product-container
{
  margin-left: auto; 
  margin-right: auto; 
  width: 800px;
  height: 300px;
}

.welcome-element
{
  display: none;
  font-size: 20px;
}

.welcome-item-0, .welcome-item-1
{
  height: 300px;
  width: 250px;
  text-align: center;
  background-size: 250px 300px;
  float: left;
}

.welcome-item-2, .welcome-item-3
{
  display: none;
}

.welcome-item-1
{
  float: right;
}

.welcome-item-1:hover .welcome-element, .welcome-item-0:hover .welcome-element
{
  color: black;
  overflow: hidden;
  background-color: white;
  opacity: 0.5;
  display: inline-block;
  height: 300px;
  width: 250px;
  line-height: 300px;
}

/* SHOWCASE CONTENT - END */

/* FOOTER AND HEADER LIST ITEMS - BEGIN */
.footer, .push
{
  text-align: center;
  height: 45px;
  /*width: 100%;*/
}

.footer
{
  background-color: white;
}

.footer-items 
{
  margin: 0px 40px 0px 40px;
}

.inner-footer
{
  height: 45px;
  line-height: 45px;
}

.footer-items:link, .footer-items:active, .footer-items:visited
{
  text-decoration: none;
  color: black;
  font-size: 18px;
 /* font-family: "MyriadPro-Regular";*/
}

.footer-items:hover 
{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 1px 0px 1px 0px;
  color: black;
  opacity: 0.8;
  background: none;
}

nav
{
  position: absolute;
  top: 157px;
  text-align: center;
  width: 800px;
}

.header-item:link, .header-item:active, .header-item:visited
{
  text-decoration: none;
  margin: 0px 65px 0px 65px;
  font-size: 18px;
  /*font-family: "MyriadPro-Regular";*/
  color: black;
}

.header-item:hover 
{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 1px 0px 1px 0px;
  color: black;
  opacity: 0.8;
  background: none;
}

.span1
{
  display: inline-block;
}
/* FOOTER AND HEADER LIST ITEMS - END */

/* PAGE ESSENTIALS - BEGIN */
html, body 
{ 
  height: 100%;
}

* {
  margin: 0;
}

.wrapper 
{
  min-height: 76%;
  height: auto !important;
  height: 76%;
  margin: 0 auto -45px;
}
/* PAGE ESSENTIALS - END */

/*****/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (max-device-height : 480px){
  /* welcome page begin */
  .cart-total-icon, .cart-total-partial, .search-input-header
  {
    display: none;
  }
  #transparent-box
  {
    width: 320px;
    border-radius: 0px;
  }
  .header-item:link, .header-item:active, .header-item:visited
  {
    margin: 0px 5px 0px 5px;
    font-size: 18px;
  }
  nav
  {
    width: 320px;
  }
  .about-shop
  {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  .filler-container
  {
    background-color: white;
    width: 100%;
    height: 300px;
  }
  .product-container
  {
    width: 320px;
    height: 300px;
  }
  .welcome-element
  {
    font-size: 12px;
  }
  .welcome-item-0, .welcome-item-1
  {
    height: 300px;
    width: 160px;
    background-size: 160px 300px;
  }
  .welcome-item-1:hover .welcome-element, .welcome-item-0:hover .welcome-element
  {
    height: 300px;
    width: 160px;
    line-height: 300px;
  }
  .footer, .push
  {
    height: 45px;
  }
  .footer-items 
  {
    margin: 0px 2px 0px 2px;
  }
  .footer-items:link, .footer-items:active, .footer-items:visited
  {
    font-size: 12px;
  }
  /* welcome page end */

  /* product index page begin */

  #products_index {
    .product-item-0, .product-item-1, .product-item-2, .product-item-3
    {
      height: 150px;
      width: 150px;
    }
    .products-container
    {
      width: 320px;
      height: 0px;
    }
    .product-item-0:hover .text-element, .product-item-1:hover .text-element, .product-item-2:hover .text-element, .product-item-3:hover .text-element
    {
      display: none;
    }
  }

  /* product index page end */

  /* product show page begin */
  #products-show {
    .item-show-container-male-shirt {
      width: 150px;
      height: 200px;
    }
    .item-show-container-female-shirt {
      width: 153px;
      height: 200px;
    }
    .item-show-container-twill-hat
    {
      height: 112px;
      width: 150px;
    }
    .item-show-container-trucker-hat
    {
      height: 112px;
      width: 150px;
    }
    .item-details
    {
      left: 165px;
      top: 230px;
    }
    #add-to-cart-btn {
      left: 165px;
      top: 383px;
    }
    .twill-mobile {
     /* top: 320px !important;*/
    }
    .trucker-mobile {
     /* top: 352px !important;*/
    }
    .male-shirt-item-dropdowns, .female-shirt-item-dropdowns, .trucker-hat-item-dropdowns, .twill-hat-item-dropdowns {
      left: 165px;
      top: 280px;
      font-size: 12px;
    }
    .item-title, .item-price, .btn-mega {
      font-size: 17px;
    }
    .btn-mega {
      padding: 16px 24px;
    }
     #product_quantity, #product_size, #product_color  {
      width: 80px;
      font-size: 10px;
     }
  }
  /* product show page end */
  /* customer cart page begin */
  #customer-cart {
    .customer-cart-container {
      width: 310px;
      margin-left: 10px;
    }
    #cart-title {
      font-size: 48px;
    }
    .top-bottom-padding > td {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  /* customer cart page end */
}
/* samsung galaxy s4 below */
@media screen and (max-device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (device-aspect-ratio: 9/16) {
  .cart-total-icon, .cart-total-partial, .search-input-header
  {
    display: none;
  }
  #transparent-box
  {
    width: 360px;
    border-radius: 0px;
  }
  .header-item:link, .header-item:active, .header-item:visited
  {
    margin: 0px 12px 0px 12px;
    font-size: 18px;
  }
  nav
  {
    width: 360px;
  }
  .about-shop
  {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  .product-container
  {
    width: 360px;
  }
  .welcome-element
  {
    font-size: 12px;
  }
  .welcome-item-0, .welcome-item-1
  {
    height: 300px;
    width: 180px;
    background-size: 180px 300px;
  }
  .welcome-item-1:hover .welcome-element, .welcome-item-0:hover .welcome-element
  {
    width: 180px;
  }
  .footer-items 
  {
    margin: 0px 8px 0px 8px;
  }
  .footer-items:link, .footer-items:active, .footer-items:visited
  {
    font-size: 12px;
  }
}