<html>
  <head>
    <script type="text/javascript">
    $(function(){
      $('#products-welcome').backstretch("https://s3.amazonaws.com/californialove/oceanviewlight.jpg");
        setTimeout(function(){
          ($('#products-welcome').backstretch([
            "http://californialove.s3.amazonaws.com/rainbow2.jpg",
            "https://s3.amazonaws.com/californialove/darkforest.jpg",
            "https://s3.amazonaws.com/californialove/goldsunset.jpg",
            "https://s3.amazonaws.com/californialove/mendo.jpg",
            "https://s3.amazonaws.com/californialove/oceanviewlight.jpg"
          ], {duraction: 6000, fade: 2000}));
        }, 6500);
    });
    </script>
  </head>
  <body id="products-welcome">
    <div class="wrapper">
     <div class="push"></div>
    </div>
      <div class="about-shop">Designed and Printed in California</div>
      <div class="filler-container">
        <div class="product-container">
          <% @products.each_with_index do |product, index| %>
            <%= link_to product, :class => "welcome-item-#{index}" do %>
              <div class="welcome-element"><%= product.name %> <%= number_to_currency(product.price) %></div>
            <% end %>
          <% end %>
        </div>
      </div>
  </body>
</html>