<html>
  <body id="charges-new">
      <div class="push-charges-new"></div>
      <div class="wrapper-charges-new">
        <div class="charges-container">
          <%= form_tag charges_path(id: @cart.id), id: 'chargeForm' do %>
            <script src="https://checkout.stripe.com/checkout.js"></script>
              <div class="el-btn">
                <a href="#" id="customPurchase"><button type="button" class="btn btn-primary btn-sm checkout-btn">Checkout</button></a>
              </div>
            <script>
              var handler = StripeCheckout.configure({
                key: '<%= ENV["PUBLISHABLE_LIVE"] %>',
                image: 'https://s3.amazonaws.com/californialove/ca_love_logo.png',
                token: function(token, args) {
                  console.log(args);
                  var a = args.shipping_name, b = args.shipping_address_line1, c = args.shipping_address_city, d = args.shipping_address_state, e = args.shipping_address_zip, f = args.shipping_address_country, both = a + ", " + b + ", " + c + ", " + d + ", " + e + ", " + f;
                  console.log(both);
                  var tokenInput = $("<input type=hidden name=stripeToken />").val(token.id);
                  var emailInput = $("<input type=hidden name=stripeEmail />").val(token.email);
                  var shippingInput = $("<input type=hidden name=stripeShippingAddress />").val(both);
                  $("#chargeForm").append(tokenInput).append(emailInput).append(shippingInput).submit();
                }
              });
              document.getElementById('customPurchase').addEventListener('click', function(e) {
                handler.open({
                  name: 'CALove',
                  description: 'One-time Charge',
                  amount: "<%= @cart.total_price * 100 %>",
                  shippingAddress: true
                });
                e.preventDefault();
              });
            </script>
          <% end %>
        </div>
      </div>
  </body>
</html>
