<html>
  <body id="charges-new">
      <div class="push-charges-new"></div>
      <div class="wrapper-charges-new">
        <div class="charges-container">
          <%= form_tag charges_path(id: @cart.id) do %>
            <article id="charge-total">
              <%= number_to_currency(@cart.total_price) %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="One-Time Charge"
                data-amount="<%= @cart.total_price * 100 %>"
                data-shipping-address="false"
                data-billing-address="false">
              </script>
            </article>
          <% end %>
        </div>
      </div>
  </body>
</html>
