<div class="footer">
	<div class="inner-footer">
      <%= link_to 'ABOUT', about_path, :class => 'footer-items' %>
      <%= link_to 'CUSTOMER SERVICE', customer_service_path, :class => 'footer-items' %>
      <%= link_to 'SUBSCRIBE', subscribe_path, :class => 'footer-items' %>
      <%= link_to 'CONTACT', contact_path, :class => 'footer-items' %>
	</div>
</div>